.wrapper{
  padding: 0 30px;
}
.dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.dl .dt {
  width: 100px;
}

.dl .dd {
  flex: 1;
}
.buttonWrapper{
  display: flex;
  grid-gap: 10px;
}
.editButton{
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #C3D4DD;
  color: #5A7A8C;
  font-size: 16px;
  padding: 8px 20px;
}
.updateButton{
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #0094FF;
  color: #fff;
  font-size: 16px;
  padding: 8px 20px;
}
.cancelButton{
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #C3D4DD;
  color: #5A7A8C;
  font-size: 16px;
  padding: 8px 20px;
}
